*.iml
.gradle
*.idea
*.png
*.jar
/gradlew.bat
/gradlew
/gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.java

*.class

*.json
*.pro
!Washertest.java
!FireBaseMessagingService.java
!FirebaseInstanceIDService.java
!JacksonThread.java
!Jacksonparse.java
!MainActivity.java
!Person.java
!ResultDto.java
!SettingDay.java
!SettingRestCalculator.java
!Weatherparse.java
!WasherDto.java